/* COMMON */
.backButton {
    border: #5163be;
    background-color: #5163be;
    margin-bottom: 10px;
}
.confirmButton {
    border: #5163be;
    background-color: #5163be;
    margin-bottom: 10px;
}
