.selectionToolbar {
    width: 100%;
    display: flex;
    animation: fadeIn 0.5s;
}

.selectionToolbar .buttonPrevious {
    width: 14.3%;
    margin: 0 2px 0 0;
    border: var(--secondaryColor);
    background-color: var(--secondaryColor);
    font-weight: bolder;
    border-radius: 3px;
    padding: 0.4em 0;
}

.buttonPreviousDisabled {
    width: 14.3%;
    margin: 0 2px 0 0;
    border: var(--secondaryColor);
    background-color: var(--secondaryColorBrighter);
    font-weight: bolder;
    border-radius: 3px;
    opacity: 0.7;
}

.selectionToolbar .buttonPrevious:hover {
    background-color: var(--tertiaryColor);
    color: var(--fontDark);
    --bs-btn-active-color: var(--fontDark);
    --bs-btn-active-bg: var(--tertiaryColor);
}

.selectionToolbar .buttonNext {
    width: 14.3%;
    margin: 0 0 0 2px;
    border: var(--secondaryColor);
    background-color: var(--secondaryColor);
    font-weight: bolder;
    border-radius: 3px;
    padding: 0.4em 0;
}

.selectionToolbar .buttonNext:hover {
    background-color: var(--tertiaryColor);
    color: var(--fontDark);
    --bs-btn-active-color: var(--fontDark);
    --bs-btn-active-bg: var(--tertiaryColor);
}

.selectionToolbar .heading {
    width: 71.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fontBright);
    background-color: var(--fontDark);
    font-weight: bolder;
    border-radius: 3px;
}

.selectionToolbar .heading > p {
    margin: 0;
    padding: 0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .selectionToolbar .heading > p {
        font-size: 18px;
    }

    .selectionToolbar .buttonPrevious {
        font-size: 18px;
    }
    .selectionToolbar .buttonNext {
        font-size: 18px;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 991px) {
    .selectionToolbar .heading > p {
        font-size: 13px;
    }

    .selectionToolbar .buttonPrevious {
        font-size: 13px;
    }
    .selectionToolbar .buttonNext {
        font-size: 13px;
    }
}

.daySelectionTable {
    width: 100%;
    table-layout: fixed;
    margin: 2px 0 0 0;
    text-align: center;
    vertical-align: center;
    border-collapse: separate;
    border-spacing: 1px;
    animation: fadeIn 0.5s;
}

.daySelectionTable th {
    background-color: var(--fontDark);
    color: var(--fontBright);
}

.daySelectionTable th,
td {
    padding: 10px 0;
    margin: 10px;
    border-radius: 2px;
}

.daySelectionTable .selected {
    background-color: var(--tertiaryColor);
    color: var(--fontDark);
}

.daySelectionTable .unavailable {
    background-color: var(--fontDark);
    color: var(--fontBright);
}

.daySelectionTable .available {
    background-color: var(--secondaryColor);
}

.daySelectionTable .available:hover,
.selected:hover {
    background-color: var(--tertiaryColor);
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .daySelectionTable {
        font-size: 18px;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 991px) {
    .daySelectionTable {
        font-size: 13px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
