.wrapper:before {
    position: absolute;
    left: 0;
    top: 0;
    content: " ";
    background-image: url("../assets/images/pexels-madison-inouye-1831234.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
}

.wrapper {
    position: relative;
    z-index: 2;
}

.content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

.contentRow {
    display: flex;
    justify-content: center;
    flex-basis: 100vw;
}

.buttonBook {
    background-color: #2f3c7e;
    margin-bottom: 10px;
    border: #2f3c7e;
    width: 15em;
    height: 3em;
    font-size: 25px;
}

.buttonCancel {
    background-color: #2f3c7e;
    border: #2f3c7e;
    width: 15em;
    height: 3em;
    font-size: 25px;
}

@media all and (max-width: 1199px) {
    .buttonBook,
    .buttonCancel {
        font-size: 20px;
        width: 15em;
        height: 3em;
    }
}

@media all and (max-width: 1199px) {
    .content {
        height: 40em;
    }
}

.buttonBook:hover,
.buttonCancel:hover {
    background-color: #c3c9e9;
    color: black;
    --bs-btn-active-color: black;
    --bs-btn-active-bg: #c3c9e9;
}
