@import "./general/colors.css";

/* COMMON */
.contentHeader {
    font-weight: bold;
    color: var(--mainColor);
    margin-bottom: 2px;
}

.contentLine {
    padding: 0;
    border: none;
    height: 1px;
    background: var(--mainColor);
    margin: 0 0 30px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: fadeIn 0.5s;
}

.buttonBook {
    border: var(--mainColor);
    background-color: var(--mainColor);
    margin-bottom: 10px;
}

.buttonCancel {
    border: var(--secondaryColor);
    background-color: var(--secondaryColor);
    font-size: 20px;
}

.buttonBook:hover,
.buttonCancel:hover {
    background-color: var(--tertiaryColor);
    color: var(--fontDark);
    --bs-btn-active-color: var(--fontDark);
    --bs-btn-active-bg: var(--tertiaryColor);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .contentHeader {
        font-size: 70px;
    }
    .contentLine {
        width: 375px;
    }
    .buttonBook {
        width: 15em;
        height: 3em;
        font-size: 25px;
    }
    .buttonCancel {
        width: 15em;
        height: 3em;
        font-size: 25px;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 992px) {
    .contentHeader {
        font-size: 55px;
    }
    .contentLine {
        width: 300px;
    }
    .buttonBook {
        font-size: 20px;
        width: 15em;
        height: 3em;
    }
    .buttonCancel {
        font-size: 20px;
        width: 15em;
        height: 3em;
    }
}
