/* COMMON */
.container {
    display: flex;
    animation: fadeIn 0.5s;
}

.containeritemTwo {
    flex-grow: 3;
}

.backButton {
    border: var(--secondaryColor);
    background-color: var(--secondaryColor);
    margin: 10px 2px 5px 0;
    font-weight: bolder;
    border-radius: 3px;
    color: var(--fontBright);
}

.backButton:hover {
    background-color: var(--tertiaryColor);
    color: var(--fontDark);
    --bs-btn-active-color: var(--fontDark);
    --bs-btn-active-bg: var(--tertiaryColor);
}

.heading {
    color: #ffffff;
    font-weight: bolder;
    line-height: 1.5em;
    border-radius: 3px;
    border: var(--mainColor);
    background-color: var(--mainColor);
    margin: 10px 0 5px 0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .backButton {
        font-size: 20px;
        padding: 0.5em 3em;
    }

    .heading {
        font-size: 20px;
        padding: 0.5em 3em;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 991px) {
    .backButton {
        font-size: 15px;
        padding: 0.5em 1em;
    }

    .heading {
        font-size: 15px;
        padding: 0.5em 1em;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
