.newBookingContainer {
    display: block;
}

.contentLine {
    margin: 0 0 5px;
    color: var(--mainColor);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .newBookingContainer {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 992px) {
    .newBookingContainer {
        margin-left: 5px;
        margin-right: 5px;
    }
}
