.serviceBox,
.serviceBoxSelected {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 5px 0;
    font-weight: 500;
    animation: fadeIn 0.5s;
}

.serviceBox {
    border: 1px solid var(--mainColor);
    color: var(--fontDark);
}

.serviceBoxSelected {
    border: 1px solid var(--mainColor);
    background-color: var(--tertiaryColor);
    color: var(--fontDark);
}

.serviceBox:hover,
.serviceBoxSelected:hover {
    color: var(--fontDark);
    background-color: var(--tertiaryColor);
    border: 1px solid var(--mainColor);
    cursor: pointer;
}

.namePart {
    padding: 0.3em 0 0.3em 0.3em;
}

.minutesPart {
    padding: 0.3em 0.3em 0.3em 0;
}

.namePart > p {
    margin: 0;
}

.minutesPart > p {
    margin: 0;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .serviceBox {
        font-size: 18px;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 991px) {
    .serviceBox {
        font-size: 13px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
