.bookingCollision {
    background-color: var(--mainColor);
    color: var(--fontBright);
}

.bookingCollision {
    background-color: var(--mainColor);
    color: var(--fontBright);
}

.bookingCollisionLoader {
    background-color: var(--secondaryColor) !important;
}

.bookingCollisionButton {
    background-color: var(--secondaryColor) !important;
    color: var(--fontBright);
}

.bookingCollisionButton:focus {
    box-shadow: 0 0 5px 3px var(--tertiaryColor) !important;
}

.bookingCollisionButton:hover {
    background-color: var(--tertiaryColor) !important;
    color: var(--fontDark);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .bookingCollisionContainer {
        font-size: 18px;
    }

    .bookingCollisionTitle {
        font-size: 20px;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 992px) {
    .bookingCollisionContainer {
        font-size: 13px;
    }

    .bookingCollisionTitle {
        font-size: 15px;
    }
}
