.errorContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: var(--errorColor);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
