.rowOne,
.rowTwo,
.rowThree,
.rowFour {
    padding: 0;
    animation: fadeIn 0.5s;
}

.rowOne div,
.rowTwo div {
    color: var(--errorColor) !important;
}

.rowOne,
.rowTwo {
    min-height: 90px;
    margin: 0 4px;
}

.rowThree {
    align-items: center;
    justify-content: center;
    margin: 0 2px 30px;
}

.rowFour {
    align-items: center;
    justify-content: center;
    margin: 0 2px;
}

.colLeft {
    padding: 0;
    margin: 0 10px 0 0;
}

.colRight {
    padding: 0;
    margin: 0 0 0 2px;
}

.label {
    color: var(--fontDark);
    padding: 0;
    margin: 0 0 5px 0;
}

.input {
    border: 1px solid var(--mainColorBrighter);
    background-color: var(--mainColor);
    color: var(--fontBright);
}

.input::placeholder {
    color: var(--secondaryDarker);
}

.input:focus {
    border: 1px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    color: var(--fontBright);
    box-shadow: 0 0 5px 3px var(--tertiaryColor);
}

.checkbox {
    width: fit-content;
}

.checkbox > input {
    background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23666%27/></svg>") !important;
}
.checkbox > input:checked {
    background-color: var(--secondaryColor) !important;
    border-color: var(--mainColorBrighter) !important;
    background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23fff%27/></svg>") !important;
}

.checkbox > input:focus {
    box-shadow: 0 0 5px 3px var(--tertiaryColor) !important;
    border-color: var(--secondaryDarker) !important;
    outline: 0;
}

.button {
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColor);
    color: var(--fontBright);
    border-radius: 5px;
    width: 15em;
    height: 3.5em;
}

.button:active {
    background-color: var(--secondaryColor) !important;
    border: 1px solid var(--secondaryColor) !important;
}

.button:hover {
    background-color: var(--tertiaryColor);
    border: 1px solid var(--tertiaryColor);
    color: var(--fontDark);
    border-radius: 5px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
