.line {
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
}

.lineContainer {
    width: 100%;
    height: 100%;
    margin: 5px 0 10px;
}

.submission {
    font-weight: 500;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .submission {
        font-size: 18px;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 991px) {
    .submission {
        font-size: 13px;
    }
}
