.navbarContainer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    animation: fadeIn 1s;
    z-index: 2;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
