.rowDay {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    padding: 0.8em 0;
}

/* larger displays */
@media only screen and (min-width: 992px) {
    .rowDay,
    .timePicker {
        font-size: 18px;
    }
}

/* smaller displays*/
@media screen and (max-width: 991px) {
    .rowDay,
    .timePicker {
        font-size: 10px;
    }

    .timePicker svg {
        height: 1.1em !important;
    }
}

.rowDay .dayname > p {
    margin: 0;
}

.dayname {
    display: flex;
    width: 25%;
    font-weight: bold;
    justify-content: left;
}

.from {
    display: flex;
    width: 28%;
    font-weight: bold;
    justify-content: center;
}

.from > label {
    margin-right: 10px;
}

.to {
    display: flex;
    width: 28%;
    font-weight: bold;
    justify-content: center;
    margin-left: 10px;
}

.to > label {
    margin-right: 10px;
}

/* checkbox */

.checkContainer {
    display: flex;
    width: 19%;
    font-weight: bold;
    justify-content: right;
    user-select: none;
    align-items: center;
}

.checkContainer > label {
    margin-left: 10px;
}

.checkContainer > input[type="checkbox"] {
    appearance: none;
    background-color: var(--tertiaryColor);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.checkContainer > input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--mainColor);
}

.checkContainer > input[type="checkbox"]:checked::before {
    transform: scale(1);
}
