.overviewContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
    animation: fadeIn 1s;
}

.itemOne,
.itemTwo,
.itemThree {
    padding: 0;
    margin: 10px;
    padding: 0;
}

.itemThree {
    min-width: 75px;
}

.itemOne > p,
.itemTwo > p,
.itemThree > p {
    margin: 0;
    padding: 0;
}

.icon {
    color: var(--mainColorBrighter);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
