.timeBoxMorning,
.timeBoxAfternoon {
    width: calc(25% - 4px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-weight: 500;
    animation: fadeIn 0.5s;
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}

.timeBoxMorning:hover,
.timeBoxAfternoon:hover {
    color: var(--fontDark);
    background-color: var(--tertiaryColor);
    border: 1px solid var(--mainColor);
    cursor: pointer;
}

.timeBoxMorning > p,
.timeBoxAfternoon > p {
    margin: 2px 2px;
}

.icon {
    color: var(--mainColorTint);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .timeBoxMorning,
    .timeBoxAfternoon {
        font-size: 18px;
    }
}

/* SMALLER DISPLAYS */
@media screen and (max-width: 991px) {
    .timeBoxMorning,
    .timeBoxAfternoon {
        font-size: 12px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
